# Archivos de datos grandes
*.csv
*.zip

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp 